.addEditOfferContainer {
  .header {
    background-color: $lightBlue;
    padding: 5px 20px;
    border-radius: 3px;
    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        font-size: 0.8125rem;
        border: none;
      }
      .tabButton {
        background-color: transparent;
        margin-left: 5px;
      }

      .selected {
        background-color: $blue6;
      }

      .submit {
        background-color: $lightGreen;
      }
    }
  }
  .body {
    padding: 20px;
    .generalContainer {
      .customSelectWithLabel {
        select {
          height: 33px;
        }
      }
      .customInputWithLabel {
        input {
          height: 33px;
        }
      }
    }

    .trackingContainer {
      .addConditionButton {
        font-size: 0.8125rem;
        background-color: $lightGreen;
        border: none;
      }
      .addConditionButton:focus {
        box-shadow: none;
      }
      .customInput {
        font-size: 0.8125rem;
        height: 33px;
      }
      .customInput::placeholder {
        font-size: 0.8125rem;
      }
      .UrlsInputs {
        display: flex;
        align-items: center;
        .inputsEnd {
          width: 150px !important;
          margin-left: 10px;
        }
      }
      .buttonNoBackground {
        background: transparent;
        border: none;
        color: $white;
      }

      .buttonNoBackground:disabled {
        opacity: 0.2;
      }

      .conditionHead {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .conditionText {
          vertical-align: middle;
        }
        button {
          margin-right: 5px;
        }
      }
    }
  }
}
