/* .App {
  text-align: center;
} */

.wrapper{
  padding: 15px 20px;
}

.row{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -7px;
  margin-left: -7px;
}

.card{
  background: #222437;
  box-shadow: 1px 1px 12px 1px rgb(0 0 0 / 6%);
  border: none;
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-header{
  background: #5c6bc0;
  padding: 1rem 1.25rem;
  margin-bottom: 0;
  display: flex;
}

.collapes_btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-title{
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 500;
  cursor: pointer;
}

.card-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.inputs{
  width: 80%;
  display: flex;
  padding-top: 20px;
}

.label{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 7px;
}

.input{
  width: 80%;
  padding: 7px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #12141D;
  outline: none;
  color: #fff;
}

.button{
  width: 50px;
  height: 35px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: #5c6bc0;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.display{
  padding-left: 10px;
  padding-right: 10px;
}

.display-data{
  margin-bottom: 112px;
  width: 100%;
  float: left;
  padding: 5px;
  margin-bottom: 20px;
  padding-top: 0;
  margin-top: 0.5rem;
}

.api-item{
  margin-right: 5px;
    cursor: pointer;
    padding: 6px;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 5px;
    background-color: #66bb6a;
    display: inline-block;
    border-radius: 5px;
}

.x{
  background-color: #fff;
    text-shadow: none;
    opacity: 1;
    font-size: 11px;
    padding: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    text-align: center;
    color: black;
    float: left;
    margin-top: 0;
    margin-right: 5px;
    margin-left: 0;
}

.d-button{
  width: 60px;
  height: 35px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: #DC143C;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-top: 7px;
}

.update-cls{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.update-btn{
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: #5c6bc0;
  color: #fff;
  outline: none;
  cursor: pointer;
}

/* offer page css */

.flex-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-control{
  background-color: #252B50;
  border: none;
}

.search-btn{
  width: 100px;
  height: 35px;
  padding: 7px;
  border: none;
  position: relative;
  border-radius: 5px;
  background: #0cce6b;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.add-offer-btn{
  width: 120px;
  height: 35px;
  padding: 7px;
  border: none;
  position: relative;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.export-btn{
  width: 120px;
  height: 35px;
  padding: 7px;
  border: none;
  color: #0d6efd;
  position: relative;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

}
:hover{
  color: #fff;
}

#status{
  background-color: #252B50;
  border: none;
  color: #fff;
  width: 100px;
}

#type{
  background-color: #252B50;
  border: none;
  color: #fff;
}

.fixed-side{
  color: #fff;
}
/* add offer page css */

.nav-wrapper{
  width: 100%;
}

.tabs-style{
  z-index: 99;
  background-color: #5c6bc0;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  flex-flow: row nowrap;
  justify-content: flex-start;
}


.navbar-nav a{
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
}

.align-end{
  text-align: end;
}

.add-button{
  width: 66px;
  height: 40px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: #28A745;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 11px;
}

.cards-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 100px;
}