body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
  font-size: 0.9000rem;
  background-color: #12141D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
